@{
    ViewBag.Title = "Lista de Empresas";
}

<div class="row">
    <div class="col-lg-12">

        <h2 class="page-header">Gestão de Empresa</h2>
        <h4>Não existe nenhuma empresa ativa.</h4>
        <div>
            <div class="form-group">
                @Html.ActionLink("Nova Empresa", "Create", "Empresas", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
