<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EGestora.GestoraControlAdm.AntiCorruption.NfseWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EGestora.GestoraControlAdm.AntiCorruption.NfseWebService.Properties.Settings>
            <setting name="EGestora_GestoraControlAdm_AntiCorruption_NfseWebService_Simpliss_NfseService"
                serializeAs="String">
                <value>http://wshomologacao.simplissweb.com.br/nfseservice.svc</value>
            </setting>
        </EGestora.GestoraControlAdm.AntiCorruption.NfseWebService.Properties.Settings>
    </applicationSettings>
</configuration>