@model EGestora.GestoraControlAdm.Application.ViewModels.PessoaFisicaViewModel

<li>
    <p class="text-muted">
        <i class="fa fa-list-alt"></i>&nbsp;&nbsp;<span class="txt-color-darken"><strong>CPF</strong> @Model.Cpf</span>
    </p>
</li>
<li>
    <p class="text-muted">
        <i class="fa fa-list-alt"></i>&nbsp;&nbsp;<span class="txt-color-darken"><strong>RG</strong> @Model.Rg |<i>@Model.OrgaoEmissor</i> </span>
    </p>
</li>
<li>
    <p class="text-muted">
        <i class="fa fa-male"></i>&nbsp;&nbsp;<span class="txt-color-darken">Masculino</span>
    </p>
</li>
<li>
    <p class="text-muted">
        <i class="fa fa-briefcase"></i>&nbsp;&nbsp;<span class="txt-color-darken">Carpinteiro</span>
    </p>
</li>
<li>
    <p class="text-muted">
        <i class="fa fa-calendar"></i>&nbsp;&nbsp;
        <span class="txt-color-darken">
            Nascimento
            <a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" data-original-title="Create an Appointment">
                @DateTime.Now.ToString("d")
            </a>
        </span>
    </p>
</li>