@model EGestora.GestoraControlAdm.Application.ViewModels.PessoaFisicaViewModel

<tr>
    <td>CPF</td>
    <td>@Model.Cpf</td>
</tr>

<tr>
    <td>RG</td>
    <td>@Model.Rg</td>
</tr>

<tr>
    <td>Genero</td>
    <td>@Model.Genero</td>
</tr>

<tr>
    <td>Data de Nascimento</td>
    <td>@Model.Nascimento.ToString("d")</td>
</tr>

