<div class="tab-pane" id="tab3">
    <br>
    <h3><strong>Passo 3</strong> - Informações de Contato</h3>
    <div class="row">
        <div class="col-md-6">
            <a href="javascript:void(0);" class="btn btn-default btn-circle" onclick="adicionarContato()"><i class="glyphicon glyphicon-plus-sign"></i></a>
            <a href="javascript:void(0);" class="btn btn-default btn-circle" onclick="removerContato()"><i class="glyphicon glyphicon-minus-sign"></i></a>
        </div>
    </div>
    <br />

    <fieldset name="contato">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">

                    <select name="ContatoList[0].TipoContatoId" class="form-control input-lg">
                        <option value="0" selected="" disabled="">Tipo do Contato</option>
                        @foreach (EGestora.GestoraControlAdm.Application.ViewModels.TipoContatoViewModel tipoContato in ViewBag.TipoContatoList)
                        {
                            <option value="@tipoContato.TipoContatoId" mask="@tipoContato.Mascara">@tipoContato.Nome</option>
                        }
                    </select>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" name="ContatoList[0].DescricaoContato" class="form-control input-lg" placeholder="Descrição" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" name="ContatoList[0].InformacaoContato" class="form-control input-lg" placeholder="Informação do contato" />
                </div>
            </div>
            <div class="col-md-1">
                <label class="checkbox checkbox-inline">
                    <input class="checkbox" id="newsletter" type="checkbox" name="ContatoList[0].Newsletter">
                    <span>Newsletter</span>
                </label>
            </div>
            <div class="col-md-1">
                <label class="checkbox checkbox-inline">
                    <input class="checkbox" id="nfse" type="checkbox" name="ContatoList[0].Nfse">
                    <span>NFSe</span>
                </label>
            </div>
            <div class="col-md-1">
                <label class="checkbox checkbox-inline">
                    <input class="checkbox" id="boleto" type="checkbox" name="ContatoList[0].Boleto">
                    <span>Boleto</span>
                </label>
            </div>
        </div>
        <hr />
    </fieldset>
</div>
